.ContextMenu_container {
  position: absolute;
  top: 0;
  left: 0;
}
.ContextMenu_container.align-right {
  left: auto;
  right: 0;
}

.ContextMenu_ul {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: 0;
  padding: 6px 0;
  list-style: none;
  width: max-content;
  min-width: 160px;
  background-color: white;
  color: #666666;
  border-radius: 2px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.24);
  animation: showDropdown 90ms cubic-bezier(0, .97, .2, .99) 0ms 1;
  transform-origin: left top;
  user-select: none;
}
.ContextMenu_container.align-right .ContextMenu_ul {
  left: auto;
  right: 0;
  transform-origin: right top;
}
.ContextMenu_container.black .ContextMenu_ul {
  background-color: #222;
  color: #dcdcdc;
}

.ContextMenu_ul > a {
  color: inherit;
  text-decoration: none;
}

.ContextMenu_underlay {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes showDropdown {
  0% {
    opacity: .5;
    transform: translate3d(0, 0, 0) scale(.5)
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1)
  }
}

.ContextMenuItem_container {
  line-height: 18px;
  padding: 12px 20px 12px 40px;
}
.ContextMenuItem_container.clickable {
  cursor: pointer;
}
.ContextMenuItem_container.clickable:hover {
  background-color: rgba(0, 0, 0, 0.08);
  /* color: #ffffff; */
}
.ContextMenu_container.black .ContextMenuItem_container.ContextMenuItem_container.clickable:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.ContextMenuDivider_divider {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
  margin: 5px 0;
}
.ContextMenu_container.black .ContextMenuDivider_divider {
  background-color: rgba(255, 255, 255, 0.15);
}
