.IconButton_button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 6px; */
  margin: 0 3px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
  background-color: transarent;
  color: #dcdcdc;
}
.IconButton_button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.IconButton_button:active {
  color: #dcdcdc;
  background-color: rgba(0, 0, 0, 0.4);
}
.IconButton_button:focus {
  outline: none;
}
