.ToolBar,
.ToolBar-filetree_pane,
.ToolBar-editor_pane,
.ToolBar-preview_pane {
  height: 50px;
}

.ToolBar {
  display: flex;
  flex-direction: row;
}
.ToolBar > * {
  box-sizing: border-box;
}

.ToolBar-filetree_pane {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 14px;
  background-color: #222;
}

.ToolBar-filetree_left,
.ToolBar-filetree_right {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.ToolBar-editor_pane {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 14px;
  background-color: #3F3F3F;
  color: #dcdcdc;
}
.sidebar-hidden .ToolBar-editor_pane {
  padding-left: 4px;
}

.ToolBar-editor_left,
.ToolBar-editor_right {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.ToolBar-editor_right .ContextMenu_container {
  top: 38px;
  left: 0px;
}

.ToolBar-preview_pane {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #EAEAEA;
  margin-left: 1px; /* fit to bramble second pane */
}

.ToolBar-preview_left,
.ToolBar-preview_right {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.ToolBar-disable_fullscreen_button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
}
