.App.modal-open:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.7);
  animation: showModalBackdrop 0.1s ease-out;
}
@keyframes showModalBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

.App-header {
  box-sizing: border-box;
  position: relative;
  background-color: #222;
  height: 40px;
  padding: 0;
  color: #dcdcdc;
}

.App-header-title {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header-title-logo {
  margin: 0 12px;
  height: 24px;
}

.App-header-title h1 {
  display: inline;
  margin: 0;
  line-height: 40px;
  font-size: 16px;
  font-weight: 400;
}

.App-header-lr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.App-header-left,
.App-header-right {
  margin: 0 20px;
  pointer-events: all;
}

.App-brambleroot {
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
}

.App.fullscreen .App-brambleroot {
  top: 0;
}

.App-loading_container {
  pointer-events: none;
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: -24px;/* Align to top-center nav icon */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(212, 208, 202, 0.8);
  opacity: 1;
  transition: opacity 0.4s linear;
}

.App-loading_container.hidden {
  opacity: 0;
}

.App-loading_container_lr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.App-loading_logo {
  height: 48px;
  margin-right: 10px;
  animation: loading .9s cubic-bezier(0.1, 0.03, 0.1, 1.17) infinite;
}

.App-loading_message {
  white-space: nowrap;
  overflow: visible;
  font-size: 18px;
}

.App-loading_progress_bar {
  margin: 20px 0;
  width: 114px;
}

@keyframes spinner {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

@keyframes loading {
  0%   { transform: translateX(0); }
  94%   { transform: translateX(-6px); }
  100%   { transform: translateX(0); }
}
