.App {
  text-align: center;
}
.App.modal-open:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.7);
  animation: showModalBackdrop 0.1s ease-out;
}
@keyframes showModalBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

.App-header {
  box-sizing: border-box;
  text-align: center;
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-brambleroot {
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
}

.App-spinner_container {
  pointer-events: none;
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(219, 219, 219, 0.8);

  opacity: 1;
  transition: opacity 0.4s linear;
}

.App-spinner_container.hidden {
  opacity: 0;
}

.App-spinner::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-color: #222222;
  border-radius: 15%;
  animation: spinner 1.3s cubic-bezier(0.13, 0.85, 0.43, 1.13) infinite;
  transform: opacity;
}

@keyframes spinner {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.ToolBar,
.ToolBar-filetree_pane,
.ToolBar-editor_pane,
.ToolBar-preview_pane {
  height: 50px;
}

.ToolBar {
  display: flex;
  flex-direction: row;
}
.ToolBar > * {
  box-sizing: border-box;
  overflow: hidden;
}

.ToolBar-filetree_pane {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 14px;
  background-color: #222;
}

.ToolBar-filetree_right {
  display: inline-flex;
  flex-direction: row;
}

.ToolBar-editor_pane {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3F3F3F;
  color: #dcdcdc;
}
.sidebar-hidden .ToolBar-editor_pane {
  padding-left: 4px;
}

.ToolBar-preview_pane {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #EAEAEA;
}

.ToolBar-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 6px;
  margin: 0 3px;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
  background-color: transarent;
  color: #dcdcdc;
}
.ToolBar-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.ToolBar-button:active {
  color: #dcdcdc;
  background-color: rgba(0, 0, 0, 0.4);
}
