.App {
  text-align: center;
}
.App.modal-open:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.7);
  animation: showModalBackdrop 0.1s ease-out;
}
@keyframes showModalBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

.App-header {
  box-sizing: border-box;
  text-align: center;
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-brambleroot {
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
}

.ToolBar,
.ToolBar-filetree_pane,
.ToolBar-editor_pane,
.ToolBar-preview_pane {
  height: 50px;
}

.ToolBar {
  display: flex;
  flex-direction: row;
}
.ToolBar > * {
  box-sizing: border-box;
  overflow: hidden;
}

.ToolBar-filetree_pane {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 14px;
  background-color: #222;
}

.ToolBar-filetree_right {
  display: inline-flex;
  flex-direction: row;
}

.ToolBar-editor_pane {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3F3F3F;
  color: #dcdcdc;
}

.ToolBar-preview_pane {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #EAEAEA;
}

.ToolBar-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 6px;
  margin: 0 3px;
  cursor: pointer;
  transition: background-color 0.1s ease-out;
  background-color: transarent;
  color: #bbb;
}
.ToolBar-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.ToolBar-button:active {
  color: #dcdcdc;
  background-color: rgba(0, 0, 0, 0.4);
}
